cupy>=7
mpi4py>=3
importlib_resources # backport for python<3.9
importlib_metadata # backport for python<3.8
matplotlib-base
numpy>=1.17
python>=3.6
py-opencv
scipy
setuptools
setuptools_scm_git_archive
